%section.hero.is-info.is-bold.is-small
  .hero-body
    .container
      %h1.title Loser Takes the SAT
      %h2.subtitle
        Next Refresh:
        %strong= next_refresh
%nav.level
  .level-item.has-text-centered
    %div
      %p.heading Current Loser
      %p.title.is-size-6-mobile= @standings.last[0]
  .level-item.has-text-centered
    %div
      %p.heading Time Remaining
      %p#countdown.title.is-size-6-mobile
        %i.fas.fa-haykal.fa-spin
  -# .level-item.has-text-centered
    %div
      %p.heading Next Refresh
      %p.title.is-size-6-mobile= next_refresh
  .level-item.has-text-centered
    %div
      %p.heading Cumulative Pts
      %p.title.is-size-6-mobile= number_with_delimiter(@standings.map(&:last).sum)

-# - one_day = Time.zone.today + 1.day
- plus_half_day = Time.zone.now + 12.hours
- end_time = DateTime.new(2019, 11, 14)
- xmax = plus_half_day < end_time ? plus_half_day : end_time

%section
  .container
    .tile.is-ancestor
      .tile.is-parent.is-7
        .tile.is-child.box
          = line_chart(line_chart_data_path,
                       id: 'line-chart',
                       min: 4000,
                       xmax: xmax.to_s)
      .tile.is-parent.is-5
        .tile.is-child.box
          %table.table.is-fullwidth.is-hoverable.is-size-7-mobile
            %thead
              %tr
                %th &nbsp
                %th Name
                %th Pts
                %th Avg
                %th Pts Back
                %th x Norm*
            %tbody
              - @standings.each_with_index do |name_pt_arr, idx|
                - pts = name_pt_arr[1]
                %tr{class: "#{bg_class(idx)}"}
                  %td= idx + 1
                  %td
                    %span= name_pt_arr[0]
                    %span= standings_icon(idx)
                  %td= number_with_delimiter(pts)
                  %td= points_per_day(pts)
                  %td= pts - @standings[0][1]
                  %td= times_normal(pts)
          -# %p.is-size-6 * MyZone recommends 1,300 points/month to reach the WHO guidelines for cardiovascular physical activity.
          %article.message.is-info
            .message-body.is-size-7
              * MyZone recommends 1,300 points/month to reach WHO guidelines for cardiovascular physical activity.

