<!DOCTYPE html>
<html>
  <head>
    <title>Loser Takes the SAT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
